body {
    background-image:url("https://images.pexels.com/photos/2395249/pexels-photo-2395249.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }

    * {
        font-family: Arial, Verdana, sans-serif;
        color: #665544;
        text-align: center;}

#feature {
    background-color: aliceblue;
}

#header {
    background-color: beige;
    text-align: center;    
     }

#title {
    font-family: 'UglyTypistRegular';
    font-weight: bolder;
    font-style: normal;
    font-size: xx-large;
}


body {
    width: 90%;
    margin: 0 auto;}

#content {
    overflow: auto;}

#nav, #feature, #footer {
    margin: 1%;}

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;
}

.column3 {
    margin-right: 0%;}

li {
    display: inline;
    padding: 0.5em;}

#nav {
    background-color: blanchedalmond;
    padding: 0.5em 0;}
 #footer {
    background-color: navajowhite;
    padding: 0.5em 0;
 }

#feature, .article {
    height: 10em;
    margin-bottom: 1em;
    }
#feature {
    background-color: turquoise ;
    background-image: url(https://images.pexels.com/photos/414660/pexels-photo-414660.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.article.column1 
{
    background-color: darkkhaki;
}
.article.column2 {
    background-color: lightpink;
}
.article.column3 {
    background-color: khaki
}
